<h1>Sobre</h1>
<div class="about-content">
    <span>
        O Índice de Massa Corporal (IMC) é uma medida que avalia a relação entre peso e altura de uma pessoa. <br />
        É amplamente utilizada para determinar se alguém está dentro de faixas de peso saudáveis, subpeso, sobrepeso ou obesidade. <br />
        O cálculo do IMC é feito dividindo o peso (em quilogramas) pela altura (em metros) ao quadrado. <br />
        É uma ferramenta simples, porém útil, na avaliação da saúde e no monitoramento do peso corporal.
    </span>
</div>
<a class="btn btn-link" href="#calculator">
    Realizar cálculo
</a>
