@page "/"

<PageTitle>Calculadora IMC</PageTitle>

<div class="container">
    <Slide Id="calculator">
        <img src="imgs/icon-no-bg.png" alt="Calculadora de IMC"/>
        <h1>Calculadora de IMC</h1>
        <Calculator/>
    </Slide>
    <Slide Id="history">
        <History />
    </Slide>
    <Slide Id="about">
        <h1>Sobre</h1>
        <h4>O Índice de Massa Corporal (IMC) é uma medida que avalia a relação entre peso e altura de uma pessoa. É amplamente utilizada para determinar se alguém está dentro de faixas de peso saudáveis, subpeso, sobrepeso ou obesidade. O cálculo do IMC é feito dividindo o peso (em quilogramas) pela altura (em metros) ao quadrado. É uma ferramenta simples, porém útil, na avaliação da saúde e no monitoramento do peso corporal.</h4>
        <a class="btn btn-link" href="#calculator">
            Realizar cálculo
        </a>
    </Slide>
</div>

